
/* 창업문의 */
#start_inquiry .start_inquiry_inner {
    display: grid;
    grid-template-columns: 648px 752px;

    width: 1400px;
    margin: auto;
}

#start_inquiry .start_inquiry_inner .start_inquiry_text {
    width: 648px;
    height: 574px;
    margin: 175px 0px 0px 0px;
    background-color: #006cba;
}

#start_inquiry .start_inquiry_inner .start_inquiry_text .start_inquiry_title {
    margin-top: 95px;
    font-size: 48px;
    line-height: 1.17;
    text-align: center;
    color: #fff;
    margin-bottom: 38px;
}

#start_inquiry .start_inquiry_inner .start_inquiry_text .start_inquiry_body {
    margin-top: 38px;
    opacity: 0.8;
    font-family: SpoqaHanSans;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: -0.85px;
    text-align: center;
    color: #fff;
}
#start_inquiry .start_inquiry_inner .start_inquiry_text .contact_us {
    display: inline-block;
    margin-top: 32px;
    margin-left: 236px;
    text-align: center;
    padding: 9px 47px 11px;
    border-radius: 100px;
    background-color: #ffffff;

    font-family: SpoqaHanSans;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.48;
    letter-spacing: -0.53px;
    color: #006cba;
}

#start_inquiry .start_inquiry_inner .start_inquiry_text .contact_us:hover {
    background-color: #135e95;
    cursor: pointer;
}

#start_inquiry .start_inquiry_inner .start_inquiry_img {
    margin-top: 175px;
    height: 574px;
    background-image: url(../img/start_inquiry/start_inquiry.png);
}

#start_inquiry .start_inquiry_inner .start_inquiry_img .start_inquiry_img_text {
    padding: 293px 439.1px 38px 56px;
    width: 256.9px;
    height: 243px;
}
