
/* 매장문의 */
#store_guide .store_guide_inner {
    display: grid;
    grid-template-columns: 648px 752px;

    width: 1400px;
    margin: auto;
}

#store_guide .store_guide_inner .store_guide_img {
    margin-top: 232px;
    width: 648px;
    height: 394px;
}

#store_guide .store_guide_inner .store_guide_img img {
    width: 648px;
    height: 394px;
    opacity: 0.92;
}

#store_guide .store_guide_inner .store_map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 232px;
}

#store_guide .store_guide_inner .store_map .store_map_text {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: 106px;
}

#store_guide .store_guide_inner .store_map .store_map_text .store_map_title {
    width: 160px;
    height: 48px;
    margin: 33px 106px 0 0;
    padding-bottom: 6px;
    font-family: BlackHanSans;
    font-weight: normal;
    font-size: 48px;
    text-align: left;
    color: #191919;
}

#store_guide .store_guide_inner .store_map .store_map_text .store_map_subhead {
    font-family: SpoqaHanSans;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.45px;
    color: #171a1b;
}

#store_guide .store_guide_inner .store_map .busan_head_office,
#store_guide .store_guide_inner .store_map .changwon_branch_office {
    margin-left: 106px;
}

#store_guide .store_guide_inner .store_map .busan_head_office .store_title,
#store_guide .store_guide_inner .store_map .changwon_branch_office .store_title {
    padding-bottom: 10px;
    font-family: SpoqaHanSans;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: -0.5px;
    color: #006cba;

}

#store_guide .store_guide_inner .store_map .busan_head_office .store_address,
#store_guide .store_guide_inner .store_map .busan_head_office .store_phone,
#store_guide .store_guide_inner .store_map .changwon_branch_office .store_address,
#store_guide .store_guide_inner .store_map .changwon_branch_office .store_phone {
    font-family: SpoqaHanSans;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #727272;
    -webkit-user-select: text !important;
}

#store_guide .store_guide_inner .store_map .busan_head_office .view_store_map,
#store_guide .store_guide_inner .store_map .changwon_branch_office .view_store_map {
    width: 68px;
    margin-top: 37px;
    padding: 7px 25px 8px 29px;
    border-radius: 20px;
    border: solid 1px #dbdbdb;

    height: 24px;
    font-family: SpoqaHanSans;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #9d9d9d;
}

#store_guide .store_guide_inner .store_map .busan_head_office .view_store_map:hover,
#store_guide .store_guide_inner .store_map .changwon_branch_office .view_store_map:hover {
    background-color: #dbdbdb;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}


